.hero-image {
  background-image: url("../Asset/bg.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  margin-top: 120px;
}

.hero-text h1,
.hero-text h5 {
  color: white;
}

.teamtitle {
  margin-top: 48px;
}

.cardimg {
  width: 140px;
  height: 140px;
  border-radius: 100px;
}

.wrapper_card {
  display: flex;
  flex-grow: 2;
  align-items: center;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}

@media only screen and (min-width: 768px) {
  .wrapper_card {
    flex-basis: 1;
    max-width: 40%;
    margin: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper_card {
    margin: 16px 0px 16px 0;
  }
}

.snumber {
  font-size: 13.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.07px;
  color: var(--brand-red);
  color: var(--brand-red);
}
.name {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.64px;
  color: var(--black);
}

.paracontent {
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.36px;
  color: var(--light-black);
}

.card-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.content_wrapper {
  margin-left: 16px;
}
