input[type="number"] {
  width: 49px;
  height: 32px;
}

.product-in-cart {
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.product-in-cart-detail {
  margin: 24px 0;
}

.product-in-cart img {
  height: 150px;
  width: 25%;
  margin: 24px;
  /* box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05); */
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  object-fit: cover;
}

.product-in-cart h4 {
  margin-bottom: 8px;
  margin-top: 0;
}

.product-in-cart-buttons {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.product-in-cart-value {
  min-width: 64px;
  padding: 0 4px;
  text-align: center;
  border: 2px solid #efefef;
  border-radius: 8px;
  margin: 0 8px;
  font-size: 15px;
}

.value_adjust_button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.product-in-cart-buttonsinput input::-webkit-outer-spin-button,
.product-in-cart-buttons input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.total-price {
  margin-top: 40px;
}
.total-price h5 {
  margin-bottom: 8px;
}

.total-price h1 {
  margin-top: 8px;
}

#coupon_status {
  margin: 8px;
  color: var(--black);
  font-weight: 500;
}

.cart-text {
  margin-top: 24px;
  align-items: center;
  text-align: center;
  height: 120px;
}

#clear-cart {
  cursor: pointer;
}
