.HeaderH1_Left_With_Spacing {
  margin-top: 64px;
  margin-bottom: 56px;
}

.H4_and_body_17 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.H4_and_body_17 h4 {
  margin-bottom: 8px;
}

.H4_and_body_17 p {
  margin-top: 8px;
}

.circle {
  width: 200px;
  height: 200px;
  line-height: 210px;
  border-radius: 50%;
  color: #222;
  text-align: center;
  background: white;
  margin: 80px auto;
}

.check_icon {
  font-size: 5rem;
}

.button-primary-and-secondary button:first-of-type {
  margin-left: 0;
}

button {
  outline: 0;
  height: 56px;
  border-radius: 10px;
  padding: 12px 32px;
  margin: 16px 4px;
  background-color: var(--brand-navy);
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  text-align: center;
  color: var(--white) !important;
  cursor: pointer;
  border: solid 2px var(--brand-navy);
}

button a {
  color: white;
}

.button-secondary {
  height: 56px;
  border-radius: 10px;
  padding: 12px 32px;
  background-color: white;
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  text-align: center;
  cursor: pointer;
  border: solid 2px var(--black);
}

.button-secondary a {
  color: var(--black);
}

secondary-button {
  height: 56px;
  border-radius: 10px;
  padding: 12px 32px;
  background-color: #fff;
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: solid var(--brand-navy);
  border-width: 2px !important;
}

hr {
  border-top: 2px;
  border-color: var(--light-gray);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
}

thead {
  text-align: left;
  background-color: var(--brand-navy);
  height: 24px;
}

th {
  text-align: left;
  padding: 20px 24px;
  color: white;
}

td {
  text-align: left;
  padding: 20px 24px;
  border-bottom: 1px solid var(--light-gray);
}

.letter-spacing {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.letter-spacing ul {
  padding-left: 0;
}

.letter-spacing li,
.letter-spacing a {
  display: block;
  color: black;
  text-align: center;
  padding: 7px;
  text-decoration: none;
}

.store-card h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text_underlined a {
  text-decoration: underline !important;
}

.row_space_between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h5-for-input h5 {
  margin-top: 40px;
  margin-bottom: 8px;
}

.button-group-for-input {
  margin-top: 48px;
}

.styled-radio {
  width: unset !important;
  height: unset !important;
  margin-right: 24px;
}
