.HeaderH1_Left_With_Spacing {
  margin-top: 64px;
  margin-bottom: 56px;
}

.H4_and_body_17 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.H4_and_body_17 h4 {
  margin-bottom: 8px;
}

.H4_and_body_17 p {
  margin-top: 8px;
}

.circle {
  width: 200px;
  height: 200px;
  line-height: 210px;
  border-radius: 50%;
  color: #222;
  text-align: center;
  background: white;
  margin: 80px auto;
}

.check_icon {
  font-size: 5rem;
}

.button-primary-and-secondary button:first-of-type {
  margin-left: 0;
}

button {
  outline: 0;
  height: 56px;
  border-radius: 10px;
  padding: 12px 32px;
  margin: 16px 4px;
  background-color: var(--brand-navy);
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  text-align: center;
  color: var(--white) !important;
  cursor: pointer;
  border: solid 2px var(--brand-navy);
  transition: 0.35s;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transition: 0.35s;
}

button a {
  color: white;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
  transition: 0.35s;
}

input[type="submit"],
input[type="reset"] {
  transition: 0.35s;
}

.button-secondary {
  height: 56px;
  border-radius: 10px;
  padding: 12px 32px;
  background-color: white;
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  text-align: center;
  cursor: pointer;
  border: solid 2px var(--black);
  color: var(--black) !important;
}

.button-secondary:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.button-secondary a {
  color: var(--black);
}

hr {
  border-top: 2px;
  border-color: var(--light-gray);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
}

thead {
  text-align: left;
  background-color: var(--brand-navy);
  height: 24px;
}

th {
  text-align: left;
  padding: 20px 24px;
  color: white;
}

td {
  text-align: left;
  padding: 20px 24px;
  border-bottom: 1px solid var(--light-gray);
}

.letter-spacing {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.letter-spacing ul {
  padding-left: 0;
}

.letter-spacing li,
.letter-spacing a {
  display: block;
  color: black;
  text-align: center;
  padding: 7px;
  text-decoration: none;
}

.store-card h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.store-card .CaptionBlackSmall {
  margin-top: 8px;
  margin-bottom: 0px;
}

.text_underlined a {
  text-decoration: underline !important;
}

.row_space_between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.account-info h5 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.account-info .col-2 {
  margin: 8px;
  margin-left: 0;
}

.button-group-for-input {
  margin-top: 48px;
}

.styled-radio {
  width: unset !important;
  height: unset !important;
  margin-right: 24px;
}

.styled-radio input {
  margin: 10px 0;
}

.styled-radio label {
  margin-left: 4px;
}

.featured-section {
  margin-top: 32px;
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  border-radius: 16px;
}

.featured-section h3 {
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 8px;
}

/* .featured-store-color h3,
.featured-store-color h4,
.featured-store-color p {
  color: white;
}
*/

.featured-store-color {
  border-radius: 18px;
  border: 3px solid var(--brand-navy);
}

.account-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 40px auto;
}

.name-selected {
  color: white !important;
  background-color: #222222;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.upload_file {
  padding: 24px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid var(--light-gray);
  margin: 24px 0px;
}

.upload_file input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin-top: 16px;
}

.upload_file label {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3px;
  color: var(--black);
}

.bottom-24 {
  margin-bottom: 24px !important;
}

.card {
  padding: 8px 32px 40px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin-bottom: 32px;
}

.card a {
  margin-bottom: 8px !important;
  display: inline-block;
}

.toast-large {
  display: none;
}

.toast-large-elements {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 24px auto;
  z-index: 10;
  padding: 10px 24px;
  text-align: center;
  border-radius: 12px;
  background-color: var(--brand-navy);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.25);
}

.toast-large p {
  color: rgba(255, 255, 255, 0.9);
  margin-right: 12px;
}

.toast-large a {
  color: var(--white);
}
