#cookie-box h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}

#cookie-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#cookie-box button {
  margin: 16px 24px 16px 0px;
  height: 40px;
  padding: 4px 16px;
  font-size: 17px;
}

#cookie-learn-more a {
  white-space: nowrap;
}

@media only screen and (min-width: 1024px) {
  #cookie-consent-message {
    position: fixed;
    bottom: 24px;
    right: 24px;
    max-width: 35%;
    margin: 0 auto;
    transition: 0.3s;
  }
  #cookie-box {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
    background: white;
    border-radius: 12px;
    padding: 8px 24px 16px;
  }
}

@media only screen and (max-width: 1023px) {
  #cookie-consent-message {
    position: fixed;
    bottom: 0;
    background: white;
    z-index: 2;
    transition: 0.3s;
  }
  #cookie-box {
    box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 0;
    padding: 8px 24px 16px;
  }
}
