/* Mall Home - New Store */
.mall-home-new-store{  
    max-width: 1080px;
    margin: auto;
    padding: 8px 16px 24px;
  }
  
  .mall-home-new-store-title{
      text-align: left;
      margin: 150px auto 10px;
      position: relative;
      line-height: 60px;
      color: black;
  }
  
  .mall-home-new-store-product-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .mall-home-new-store-product-style{
    text-align: center;
    flex-basis: 25%;
    padding: 8px 16px 24px;
    min-width: 100px;
    margin: auto;
  }
  
  .mall-home-new-store-product-style img{
    width: 100%;
    border-radius: 12px;
  }
  
  
  /* Mall Home - New Product */
  .mall-home-new-product{
      max-width: 1080px;
      margin: auto;
      padding: 8px 16px 24px;
  }
  
  .mall-home-new-product-title{
    text-align: left;
    margin: 24px auto 24px;
    position: relative;
    line-height: 5px;
    color: black;
  }
  
  .mall-home-new-product-product-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .mall-home-new-product-product-style{
    text-align: left;
    flex-basis: 25%;
    padding: 8px 16px 24px;
    min-width: 150px;
    margin: auto;
  }
  
  .mall-home-new-product-product-style img{
    width: 100%;
    border-radius: 12px;
  }
  
  
  /* Mall Home - Featured Store */
  .mall-home-featured-store-img{
    position: relative;
    margin: auto;
    height: 700px;
    width: 1000px;
    overflow: hidden;
    background: url(https://static.vecteezy.com/system/resources/previews/001/401/677/non_2x/abstract-polygonal-shape-black-background-free-vector.jpg) no-repeat center;
    background-size: cover;
    margin: auto;
  }
  
  .mall-home-featured-store-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .mall-home-featured-store-text h1{
    font-size: 90px;
    letter-spacing: 0.8mm;
    margin: 0;
    color: white;
  }
  
  .mall-home-featured-store-text h1 span{
    border: 1px solid white;
    padding: 8px 16px 24px;
    display: inline-block;
  }
  
  .mall-home-featured-store-text2{
    margin: auto;
    display: block;
    font-size: 14px;
    text-shadow: 0 0 10px white;
  }
  
  .mall-home-featured-store-button{
    color: black;
    padding: 1px 16px 1px;
    font-size: 20px;
    text-decoration: none;
    background:white;
    border-radius: 12px;
  }
  
  
  /* Mall Home - Featured Product */
  .mall-home-featured-product{
      max-width: 1080px;
      margin: auto;
      padding: 8px 16px 24px;
  }
  
  .mall-home-featured-product-title{
    text-align: left;
    margin: 24px auto 24px;
    position: relative;
    line-height: 5px;
    color: black;
  }
  
  .mall-home-featured-product-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .mall-home-featured-product-style{
    text-align: left;
    flex-basis: 25%;
    padding: 8px 16px 24px;
    min-width: 200px;
    margin: auto;
  }
  
  .mall-home-featured-product img{
    width: 100%;
    border-radius: 12px;
  }






.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 8px 16px 24px;
  }
  .container .featured-store {
    max-width: 1300px;
    margin: auto;
    padding-left: 8px 16px 24px;
  }
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Col-2*/
  .col-2 {
    flex-shrink: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 8px 16px 24px;
    border-radius: 12px;
  }
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  /* Col-3*/
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  .col-3 img {
    width: 70%;
    border-radius: 12px;
  }
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding: 8px 16px 24px;
  }
  
  /* Col-4*/
  .col-4 {
    flex-basis: 25%;
    padding: 8px 16px 24px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4 img {
    width: 100%;
    border-radius: 12px;
  }
  /*
  .col-4:hover {
    transform: translateY(-5px);
  }
  */
  .col-4 {
    font-size: 20px;
    text-align: left;
  }
  .col-4-fp {
    flex-basis: 25%;
    padding: 8px 16px 24px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4-fp img {
    width: 100%;
    border-radius: 12px;
  }
  /*
  .col-4-fp:hover {
    transform: translateY(-5px);
  }
  */
  
  /* Title*/
  .title {
    text-align: left;
    margin: 150px auto 10px;
    position: relative;
    line-height: 60px;
    color: black;
  }

  /* Browse Store Select*/
  .list2 {
    justify-content: space-between;
  }
  
  /* Browse Store Col-4 xx */
  .xx img {
    width: 100%;
    border-radius: 12px;
  }
  /*
  .xx:hover {
    transform: translateY(-5px);
  }
  */
  
.xx {
    padding: 8px 16px 24px;
    font-size: 8px;
    text-align: center;
}
