/* Title*/
.title {
  text-align: left;
  margin: 150px auto 10px;
  position: relative;
  line-height: 60px;
  color: black;
}
.title2 {
  text-align: center;
  margin: 150px auto 10px;
  position: relative;
  line-height: 60px;
  color: black;
}
.title2::after {
  content: "";
  background: black;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50);
}
.title3 {
  text-align: left;
  margin: 150px auto 10px;
  position: relative;
  line-height: 50px;
}

/* Browse Store Select*/
.list2 {
  justify-content: space-between;
}

/* Browse Store Col-4 xx */
.xx img {
  width: 100%;
  border-radius: 12px;
}

.xx:hover {
  transform: translateY(-5px);
}

.xx {
  padding: 8px 16px 24px;
  font-size: 8px;
  text-align: center;
}

/* Featured Store */
.hero-image2 {
  background: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?size=626&ext=jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text2 h1 {
  font-size: 100px;
  letter-spacing: 0.8mm;
  margin: 0;
  color: white;
}
.hero-text2 h1 span {
  padding: 28px 1px 24px;
  display: inline-block;
}
.hero-text3 {
  margin: auto;
  display: inline-block;
  font-size: 35px;
  color: white;
}
.hero-button {
  color: black;
  padding: 1px 16px 1px;
  font-size: 30px;
  text-decoration: none;
  background: white; /*box background */
  border-radius: 12px;
}
