/* Product Detail Text Spacing */
.product-detail-text h1,
.product-detail-text h4,
.product-detail-text p {
  margin: 0;
}

.product-detail-text h1 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.product-detail-text h4 {
  margin-bottom: 32px;
}

.product-detail-text p {
  margin-bottom: 64px;
}

/* Product Image */
.product-img img {
  margin-bottom: 8px;
}

/* Image Gallery */
.gallery-row {
  display: flex;
  justify-content: space-between;
}

.gallery-item img {
  width: 100%;

  border-radius: 16px;
  margin: 0;
}

.gallery-item {
  flex-basis: 23%;
}

.toast {
  display: none;
}
.toast-elements {
  display: flex;
  position: fixed;
  bottom: 24px;
  left: 24px;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
  padding: 10px 24px;
  text-align: center;
  border-radius: 12px;
  background-color: var(--brand-navy);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
}

.toast p {
  color: rgba(255, 255, 255, 0.9);
  margin-right: 12px;
}

.toast a {
  color: var(--white);
}
