.img-select {
  display: flex;
  /* margin: 8px; */
  justify-content: center;
}
.img-select img:last-child {
  margin-left: 0;
}
.img-item img {
  margin: 16px;
  border-radius: 16px;
  /* margin-right: 0.5rem; */
}
.img-item {
  padding: 4px;
}
.product-detail {
  width: 50%;
  padding: 32px;
  margin-top: -500px;
}
/* Recommended Products */
.recpro_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.rec_products h1 {
  font-size: 15px;
}
.prodcard {
  border-radius: 12px;
}

.big_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 48px 32px 16px 0;
  /* overflow: hidden; */
}
.main_product {
  border-radius: 12px;
  overflow: hidden;
}
.main_card {
  width: 50%;
}

.titlename1 {
  margin: 16px;
  font-family: "DM Sans";
  font-size: 33.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.8px;
  color: var(--black);
}
.price1 {
  margin: 16px;
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  color: var(--black);
}
.describe1 {
  margin: 16px;
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.36px;
  color: var(--light-black);
}
.purchase-info .btn {
  flex-direction: row;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  text-align: center;
  margin: 8px;
}
.btn a {
  color: var(--white);
}

@media only screen and (max-width: 1024px) {
  .nav_store_links {
    display: none;
  }
  .product-detail {
    width: 50%;
  }
  .main_card {
    width: 100%;
  }
  .big_wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
}
