.slider {
  box-sizing: border-box;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-content {
  display: flex;
  animation: slider 12s linear infinite running;
}

.slider-content:hover {
  animation-play-state: paused;
}

.slider-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translate(-50%);
  }
}
