.slider{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-content{
  display: flex;
  animation: slider-move 100s linear, infinite, running;
}

.slider-content:hover{
  animation-play-state: paused;
}

.slider-tag{
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.slider-tag:hover{
  transform: scale(1px);
  cursor: pointer;
}

@keyframes slider-move{
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translate(-1000%);
    }
  }