ul{
    display: flex;
    align-items: start;
    list-style-type: none;
}
li{
    padding: 8px 16px 24px;
    margin-right: 30px;
}
a{
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 8px 16px 24px;
    transition: 0.5s;
}