.HeaderH1_Left_With_Spacing {
  margin-top: 64px;
  margin-bottom: 48px;
}

.H4_and_body_17 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.H4_and_body_17 h4 {
  margin-bottom: 8px;
}

.H4_and_body_17 p {
  margin-top: 8px;
}

.center_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 56px;
  border-radius: 10px;
  padding: 12px 32px;
  background-color: var(--brand-red);
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
}

hr {
  border-top: 2px;
  border-color: -var(--light-gray);
}

@media only screen and (min-width: 1024px) {
  .body_spacing {
    max-width: var(--screen-max-width-desktop);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .body_spacing {
    margin: 0 24px;
  }
}
