/* Card Products*/
.card {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 30px 260px 80px;
  grid-template-areas: "image" "text";

  border-radius: 12px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}
.card-image {
  grid-area: auto;
}
.card-text {
  grid-area: text;
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}
.card {
  transition: 0.2s ease;
  cursor: pointer;
  margin:30px;
}

/* */
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 8px 16px 24px;
}
.container .featured-store{
  max-width: 1300px;
  margin: auto;
  padding-left: 8px 16px 24px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-shrink: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 8px 16px 24px;
  border-radius: 12px;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 70%;
  border-radius: 12px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 8px 16px 24px;
}
.col-4 {
  flex-basis: 25%;
  padding: 8px 16px 24px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
  border-radius: 12px;
}
.col-4:hover {
  transform: translateY(-5px);
}
.title {
  text-align: left;
  margin: 150px auto 10px;
  position: relative;
  line-height: 60px;
  color: black;
}
.title2 {
  text-align: center;
  margin: 150px auto 10px;
  position: relative;
  line-height: 60px;
  color: black;
}
.title2::after {
  content: "";
  background: black;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50);
}
.col-4 {
  font-size: 20px;
  text-align: left;
}
.title3 {
  text-align: left;
  margin: 150px auto 10px;
  position: relative;
  line-height: 50px;
}
.col-4-fp {
  flex-basis: 25%;
  padding: 8px 16px 24px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4-fp img {
  width: 100%;
  border-radius: 12px;
}
.col-4-fp:hover {
  transform: translateY(-5px);
}
/* Browse Store Select*/
.list1{
  justify-content: space-between;
}

/* Browse Store By Letter Sorting */
ul{
  list-style-type: none;
  overflow: hidden;
  background-color: white;
}
li {
  float: left;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
