input{
  font-family: inherit;
  color: inherit;
  width: 348px;
  height: 56px;
  margin: 8px 0 0;
  padding: 16px 18px 16px 16px;
  border-radius: 16px;
  border: solid 2px var(--light-gray);
  margin-bottom: 32px;
}
input:focus{
  width: 348px;
  height: 56px;
  margin: 8px 0 0;
  padding: 16px 18px 16px 16px;
  border-radius: 16px;
  outline:32px;
  margin-bottom: 32px;
  border-color: black;
}
input:placeholder {              /* Chrome, Safari, Firefox */
  color: #a0a0a0;
  opacity: 1;
}
input:-ms-input-placeholder {     /* IE, Edge */
  color: #a0a0a0;
  opacity: 1;
}
input:focus::placeholder {
  color:transparent;
}
input[type="radio"] {
  display:inline-block;
  font-size: 17px;
  font-family: inherit;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  border: solid 2px #f7f7f7;
}
input[type="radio"]:checked{
  display:inline-block;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  border: solid 2px #f76c6c;
}
select{
  font-family: inherit;
  color: inherit;
  width: 348px;
  height: 56px;
  margin: 8px 0 0;
  padding: 16px 21px 16px 16px;
  border-radius: 16px;
  border: solid 2px var(--light-gray);
  outline: none;
}
.reset{
  width: 125px;
  height: 56px;
  margin: 64px 203px 143px 8px;
  padding: 12px 35px 12px 34px;
  border-radius: 10px;
  border: solid 2px var(--black);
  background:#fff;
}
