nav {
  height: 72px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0 auto;
}

.nav_elements_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav_links ul li {
  margin: 0 16px;
  display: block;
  white-space: nowrap;
  line-height: 1;
}

.nav_elements_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav_elements_right a:after {
  height: 0;
  width: 0;
  left: 0;
  bottom: 0;
}

.avatar_logged_in {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
}

.avatar_logged_out {
}

.nav_cart_icon {
  display: inline-block;
  z-index: 1;
  padding: 16px;
  margin: 0 32px;
}

header {
  position: sticky;
  top: 0;
}

.sidebar_hr {
  border-top: 4px;
  border-color: var(--light-gray);
  margin-right: 24px;
}

@media only screen and (min-width: 1024px) {
  .nav_wrapper {
    max-width: var(--screen-max-width-desktop);
  }
  .nav_menu_icon {
    display: none;
  }
  .nav_logo_h2 {
    display: none;
  }
  .closebtn {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    height: 64px;
  }
  .nav_wrapper {
    margin: 0 24px;
  }
  .nav_logo_h1 {
    display: none;
  }
  .nav_elements_right {
    display: none !important;
  }
  .nav_links {
    display: none;
  }
  .nav_menu_icon li {
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.41px;
    display: flex;
    margin: 32px 0;
    color: var(--black);
    white-space: nowrap;
  }

  .nav_menu_link_extra_padding a {
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.41px;
    display: flex;
    margin: 0 24px;
    color: var(--black);
  }

  .nav_menu_icon ul {
    padding-left: 24px;
  }
}

.nav_menu_icon {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.14);
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav_menu_icon .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 60px;
  line-height: -1px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 0;
  background-color: inherit;
  font-family: "DM Sans";
  margin: 0;
}

.dropbtn h5 {
  padding: 0;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:after {
  height: 0;
  width: 0;
  left: 0;
  bottom: 0;
}

/* @media screen and (max-height: 450px) {
  .nav_menu_icon {
    padding-top: 15px;
  }
  .nav_menu_icon a {
    font-size: 18px;
  }
} */
/* nav {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding: 12px 177px 12px 166px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white);
  display: flex;
}

nav ul {
  margin: 20px;
}

nav ul li {
  float: left;
  display: inline-block;
  margin: 0 20px;
}
nav ul li a {
  color: var(--black);
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover:after {
  width: 100%;
}

label.logo {
  font-family: "DM Sans";
  width: 88px;
  height: 48px;
  margin: 0 64px 0 0;
  font-size: 33.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.8px;
  color: var(--black);
}

.shopping-cart {
  float: right;
  width: 23px;
  height: 21px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.48px;
  color: var(--black);
}

label.logo a {
  color: var(--black);
}

.checkbtn {
  float: right;
  font-size: 30px;
  color: black;
  line-height: 48px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* Testing */
/* @media screen and (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  ul {
    width: 272px;
    height: 617px;
    margin: 0 0 0 48px;
    padding: 78px 174px 291px 24px;
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.14);
    background-color: var(--white);
  }
  ul li {
    display: block;
    margin: 50px 0;
    line-height: 55px;
  }

  nav input[type="checkbox"] ~ ul {
    display: none;
  }

  nav input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  nav input[type="checkbox"]:checked ~ ul li {
    width: 95%;
  }
} */
