.nav_mall_background {
  height: 72px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0 auto;
}

.nav_elements_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav_links li {
  margin: 0 16px;
  display: block;
  white-space: nowrap;
  line-height: 1;
}

.nav_elements_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.nav_elements_right a:after {
  height: 0;
  width: 0;
  left: 0;
  bottom: 0;
}

.avatar_logged_in {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
}



.nav_logo_h2 h2 {
  margin: 0px;
  padding: 0;
}

.nav_cart_icon {
  display: inline-block;
  z-index: 1;
  padding: 16px;
  margin: 0 32px;
}

header {
  position: sticky;
  top: 0;
}

.sidebar_hr {
  border-top: 4px;
  border-color: var(--light-gray);
  margin-right: 24px;
}

@media only screen and (min-width: 1024px) {
  .nav_wrapper {
    max-width: var(--screen-max-width-desktop);
  }
  .nav_menu_icon {
    display: none;
  }
  .nav_logo_h2 {
    display: none;
  }
  .closebtn {
    display: none;
  }
  .nav_store_wrapper {
    max-width: var(--screen-max-width-desktop);
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    /* height: 64px; */
  }
  .nav_wrapper {
    margin: 0 24px;
  }
  .nav_logo_h1 {
    display: none;
  }
  .nav_elements_right {
    display: none !important;
  }
  .nav_links {
    display: none;
  }
  .nav_menu_icon li {
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.41px;
    display: flex;
    margin: 32px 0;
    color: var(--black);
    white-space: nowrap;
  }

  .nav_menu_link_extra_padding a {
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.41px;
    display: flex;
    margin: 0 24px;
    color: var(--black);
  }

  .nav_menu_icon ul {
    padding-left: 24px;
  }
  .nav_store_wrapper {
    margin: 0 24px;
  }
}

/* Sidebar */
.nav_menu_icon {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.14);
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 56px;
}

.nav_menu_icon .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 60px;
  line-height: -1px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 0;
  background-color: inherit;
  font-family: "DM Sans";
  margin: 0;
}

.dropbtn h5 {
  padding: 0;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:after {
  height: 0;
  width: 0;
  left: 0;
  bottom: 0;
}

/* Store Navbar */

.nav_store {
  background-color: var(--brand-light-blue);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1)
}

.nav_store_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 100%;
  margin: 0 auto;
}

.nav_store_elements_left {
  display: flex;
  align-items: center;
}

.nav_store_elements_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav_store_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_store h4,
.nav_store h5,
.nav_store a {
  color: white;
}

.nav_store_logo {
  background-image: url("../Asset/storeLogo.png");
  height: 48px;
  width: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin-right: 16px;
}
.nav_store_links li {
  margin: 0 16px;
  display: block;
  white-space: nowrap;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .nav_store {
    height: 72px;
  }
  .nav_store_wrapper {
    max-width: var(--screen-max-width-desktop);
    margin: 0 auto;
    height: inherit;
  }
  .nav_store_elements_left {
    height: inherit;
  }
  .nav_store_elements_right {
    height: inherit;
  }
  .nav_store_links {
    height: inherit;
    margin: 0px;
  }
}

@media only screen and (max-width: 767px) {

  .nav_store_wrapper {
    margin: 0 24px;
  }
  .nav_store_elements_right {
    flex-basis: 100%;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .nav_store_links {
    flex-basis: 100%;
    padding-left: 0px !important;
    margin: 0px;
  }
  .nav_store_elements_left {
    height: 80px;
  }
    
  .nav_store_elements_right::-webkit-scrollbar {
    display: none;
  }
  .nav_store_links li {
    margin: 0 12px;
  }
  .nav_store_links li:first-child {
    margin-left: 0;
  }
}
