/* img {
  width: 116px;
  height: 116px;
  display: block;
  border-radius: 15px;
} */
/* .img-display {
  overflow: hidden;
}
.img-showcase {
  display: flex;
  width: 538px;
  height: 538px;
  transition: all 0.5s ease;
}
.img-showcase img {
  width: 538px;
  height: 538px;
  border-radius: 16px;
}
.img-select {
  display: flex;
  border-radius: 16px;
}
.img-item {
  margin: 16px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}
.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}
.last-price span {
  color: #f64749;
  text-decoration: line-through;
}
.new-price span {
  color: #256eff;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(shoes_images/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
} */

#margin_left_none {
  margin-left: 0;
}
#margin_right_none {
  margin-right: 0;
}
/* Main Product  */

/* Recommended Products */
.recpro_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.rec_products h1 {
  font-size: 15px;
}
.prodcard {
  border-radius: 12px;
}
.rec_products {
  margin-left: 0;
  align-items: center;
  border-radius: 15px;
  width: 253px;
  height: 362px;
  margin: 12px;
  /* padding: 10px; */
}
.big_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.main_product {
  border-radius: 12px;
}
.main_card {
  display: flex;
  height: 538px;
  width: 1140px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
}
.titlename {
  padding: 32px;
  font-family: "DM Sans";
  font-size: 33.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.8px;
  color: var(--black);
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-size: 21.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: -0.51px;
  color: var(--black);
}
.describe {
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.36px;
  color: var(--light-black);
}
.purchase-info .btn {
  display: flex;
  text-align: center;
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
